#divElement{
                display: none;
            }
            textarea {
                font: 150% Monaco;
                color: white;
                background: black;
                width: 100%;
                padding: 40px;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }